:root {
  --primary-color: #f3f3f3;

  --secondary-color: #f4be16;
  --background-color: #c2b8b6;
  --main-color: #392a1a;
}

h1 {
  color: red;
  font-family: "Playfair Display", serif;
}
h2 {
  color: var(--secondary-color);
  font-family: "Exo 2", sans-serif;
}
h3 {
  color: var(--secondary-color);

  text-align: start;
}
p {
  font-family: "Quicksand", sans-serif;
  color: var(--main-color);
}

section {
  border: 1px solid var(--primary-color);
  padding: 0ex;
  background: var(--primary-color);
}
.about {
  color: var(--main-color);
}
.wrapper {
  position: relative;
  margin: 10px 40px;
  background: var(--primary-color);
}
.nav-color {
  background: var(--secondary-color);
}
.research-interest {
  font-family: "Quicksand", sans-serif;
  color: var(--main-color);
}
