:root {
  --primary-color: #e7e9eb;

  --secondary-color: #f2800a;
}
h1 {
  color: red;
  font-family: "Playfair Display", serif;
}
h2 {
  font-family: "Poppins", sans-serif;
  color: var(--secondary-color);
}
.wrapper {
  position: relative;
  margin: 10px 200px;
}

section {
  border: 3px solid #ccc;
  padding: 0ex;
  background: var(--primary-color);
}

.float {
  position: absolute;
  top: -1.9ex;
  left: 100px;
  padding: 0 10px;
  background: white;
  z-index: 1;
  border: 3px solid #ccc;

}
